<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productfn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/72d6c8c5-bfac-4730-9678-b06ffc4bbd9e/resourceGroups/app-group/providers/Microsoft.Web/sites/ProductFn</ResourceId>
    <UserName>$ProductFn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://productfn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>